
html,
body {
  background: url('../images/wallpaper/bg_beach.jpg') no-repeat center fixed;
  background-size: cover;
}

#welcome-title {
  color: #E6B451;
}

section {
  border: 15px solid #8A6530;
}

.title-category {
  color: #F9DE87;
  text-shadow: 0 0 5px white,
  0 0 5px black,
  0 0 5px white;
}

#news-container-title {
  color: #E6B451;
  text-shadow: 0 0 5px white,
  0 0 5px white,
  0 0 5px white;
}

#news-title {
  color: #F9DE87;
}

.form-btn {
  background-color: #8A6530;
}

.form-btn:hover {
  background-color: #E6B451;
}

.game .game-timer {
  background-color: #EFBC49;
}

.end-game-infos .replay {
  background-color: #EFBC49;
}

.avatar img {
  border: 3px solid #8A6530;
}

#gameName {
  color: #8A6530;
  text-shadow: 0 0 5px white,
  0 0 5px black,
  0 0 5px white;
}

.gameStats {
  color: #F9DE87;
  text-shadow: 0 0 5px white,
  0 0 5px black,
  0 0 5px white;
}

footer {
  background-color: #8A6530;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #53AA28;

}

#memory #normal {
  background-color: #EFBC49;
}

#memory #hard {
  background-color: #1BB8DB;
}

#memory .card-back {
  background-image: url('../images/games/memory/beach-card-back.jpg');
}

/******** TYPELETTER ********/
#typeLetter #uppercase {
  background-color: #53AA28;
}

#typeLetter #lowercase {
  background-color: #EFBC49;
}

.playerLetters {
  text-shadow: 0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49,
    0 0 12px #EFBC49;
}

#playerLetter {
  -webkit-animation: animborder 2s infinite;
  animation: animborder 2s infinite;
}

@-webkit-keyframes animborder {
  50% {
    border-color: #EFBC49;
  }
}

@keyframes animborder {
  50% {
    border-color: #EFBC49;
  }
}