
html,
body {
  background: url('../images/wallpaper/bg_beach.jpg') no-repeat center fixed;
  background-size: cover;
}

section {
  border: 15px solid #8A6530;
}

.title-category {
  color: #F9DE87;
  text-shadow: 0 0 5px white,
  0 0 5px black,
  0 0 5px white;
}

.form-btn {
  background-color: #8A6530;
}

.form-btn:hover {
  background-color: #E6B451;
}

footer {
  background-color: #8A6530;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #53AA28;

}

#memory #normal {
  background-color: #EFBC49;
}

#memory #hard {
  background-color: #1BB8DB;

}

#memory-timer {
  background-color: #EFBC49;
}

#memory .card-back {
  background: url('../images/games/memory/beach-card-back.jpg') no-repeat center fixed;
  background-size: cover;
}
