html,
body {
  background: url('../images/wallpaper/bg_farm.jpg') no-repeat center fixed;
  background-size: cover;
}

section {
  border: 15px solid #F23F1F;
}

.title-category {
  color: #CB7552;
}

.form-btn {
  background-color: #F23F1F;
}

.form-btn:hover {
  background-color: #F7A400;
}

footer {
  background-color: #F23F1F;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #F7A400;
}

#memory #normal {
  background-color: #52D176;
}

#memory #hard {
  background-color: #CB7552;
}

#memory-timer {
  background-color: #FACC1E;
}

#memory .card-back {
  background-image: url('../images/games/memory/farm-card-back.jpg');
}