html,
body {
  background: url('../images/wallpaper/bg_farm.jpg') no-repeat center fixed;
  background-size: cover;
}

#welcome-title {
  color: #F7A400;
}

section {
  border: 15px solid #F23F1F;
}

.title-category {
  color: #CB7552;
  text-shadow: 0 0 5px white,
  0 0 5px white,
  0 0 5px white;
}

#news-container-title {
  color: #F7A400;
  text-shadow: 0 0 5px white,
    0 0 5px white,
    0 0 5px white;
}

#news-title {
  color: #CB7552;
  text-shadow: 0 0 5px white,
  0 0 5px white,
  0 0 5px white;
}

.form-btn {
  background-color: #F23F1F;
}

.form-btn:hover {
  background-color: #F7A400;
}

.game .game-timer {
  background-color: #FACC1E;
}

.end-game-infos .replay {
  background-color: #EFBC49;
}

.avatar img {
  border: 3px solid #F23F1F;
}

footer {
  background-color: #F23F1F;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #F7A400;
}

#memory #normal {
  background-color: #52D176;
}

#memory #hard {
  background-color: #CB7552;
}

#memory .card-back {
  background-image: url('../images/games/memory/farm-card-back.jpg');
}

/******** TYPELETTER ********/
#typeLetter #uppercase {
  background-color: #F7A400;
}

#typeLetter #lowercase {
  background-color: #52D176;
}

.playerLetters {
  text-shadow: 0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #CB7552,
    0 0 12px #EFBC49;
}

#playerLetter {
  -webkit-animation: animborder 2s infinite;
  animation: animborder 2s infinite;
}

@-webkit-keyframes animborder {
  50% {
    border-color: #CB7552;
  }
}

@keyframes animborder {
  50% {
    border-color: #CB7552;
  }
}