html,
body {
  background: url('../images/wallpaper/bg_flowery-castle.jpg') no-repeat center fixed;
  background-size: cover;
}

section {
  border: 15px solid #FCA8D4;
}

.title-category {
  color: #E6B082;
}

.form-btn {
  background-color: #E6B082;
}

.form-btn:hover {
  background-color: #FCA8D4;
}

footer {
   background-color: #E6B082;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #9B4FF6;

}

#memory #normal {
  background-color: #3CC2AB;
}

#memory #hard {
  background-color: #FB4053;

}

#memory-timer {
  background-color: #3CC2AB;
}

#memory .card-back {
  background: url('../images/games/memory/castle-card-back.jpg') no-repeat center fixed;
  background-size: cover;
}