html,
body {
  background: url('../images/wallpaper/bg_flowery-castle.jpg') no-repeat center fixed;
  background-size: cover;
}

section,
.game-container {
  border: 15px solid #FCA8D4;
}

.title-category {
  color: #E6B082;
}

.form-btn {
  background-color: #E6B082;
}

.form-btn:hover {
  background-color: #FCA8D4;
}

.game .game-timer {
  background-color: #9B4FF6;
}

.end-game-infos .replay {
  background-color: #9B4FF6;
}

footer {
   background-color: #E6B082;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #9B4FF6;

}

#memory #normal {
  background-color: #3CC2AB;
}

#memory #hard {
  background-color: #FB4053;

}

#memory .card-back {
  background-image: url('../images/games/memory/castle-card-back.jpg');
}

/******** TYPELETTER ********/
#typeLetter #uppercase {
  background-color: #3CC2AB;
}

#typeLetter #lowercase {
  background-color: #FB4053;
}

.playerLetters {
  text-shadow: 0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053,
    0 0 12px #FB4053;
}

#playerLetter {
  -webkit-animation: animborder 2s infinite;
  animation: animborder 2s infinite;
}

@-webkit-keyframes animborder {
  50% {
    border-color: #FB4053;
  }
}

@keyframes animborder {
  50% {
    border-color: #FB4053;
  }
}