html,
body {
  background: url('../images/wallpaper/bg_jungle.jpg') no-repeat center fixed;
  background-size: cover;
}

#welcome-title {
  color: #FF6370;
}

section {
  border: 15px solid #21A08F;
}

.title-category {
  color: #FF6370;
}

#news-container-title {
  text-shadow: 0 0 5px white,
    0 0 5px white,
    0 0 5px white;
}

#news-title {
  color: #21A08F;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

.form-btn {
  background-color: #48CA4E;
}

.form-btn:hover {
  background-color: #FF6370;
}

.game .game-timer {
  background-color: #AFF89E;
}

.end-game-infos .replay {
  background-color: #AFF89E;
}

.avatar img {
  border: 3px solid #48CA4E;
}

footer {
  background-color: #21A08F;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #AFF89E;
}

#memory #normal {
  background-color: #16B091;
}

#memory #hard {
  background-color: #FF6370;
}

#memory .card-back {
  background-image: url('../images/games/memory/jungle-card-back.jpg');
}

/******** TYPELETTER ********/
#typeLetter #uppercase {
  background-color: #A2F7A3;
}

#typeLetter #lowercase {
  background-color: #FF6370;
}

.playerLetters {
  text-shadow: 0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370,
    0 0 12px #FF6370;
}

#playerLetter {
  -webkit-animation: animborder 2s infinite;
  animation: animborder 2s infinite;
}

@-webkit-keyframes animborder {
  50% {
    border-color: #FF6370;
  }
}

@keyframes animborder {
  50% {
    border-color: #FF6370;
  }
}