html,
body {
  background: url('../images/wallpaper/bg_mountain.jpg') no-repeat center fixed;
  background-size: cover;
}

#welcome-title {
  color: #AFCAFF;
}

section,
.game-container {
  border: 15px solid #80D1EC;
}

.title-category {
  color: #73E25F;
   text-shadow: 0 0 5px white,
   0 0 5px white,
   0 0 5px white;
}

#news-container-title {
  color: #AFCAFF;
  text-shadow: 0 0 5px white,
    0 0 5px white,
    0 0 5px white;
}

#news-title {
  color: rgb(231, 122, 110);
  text-shadow: 0 0 5px white,
  0 0 5px white,
  0 0 5px white;
}

.form-btn {
  background-color: #AFCAFF;
}

.form-btn:hover {
  background-color: #80D1EC;
}

.game .game-timer {
  background-color: rgb(231, 122, 110);
}

.end-game-infos .replay {
  background-color: #AFCAFF;
}

.avatar img {
  border: 3px solid #AFCAFF;
}

#gameName {
  color: #AFCAFF;
   text-shadow: 0 0 5px white,
   0 0 5px white,
   0 0 5px white;
}

.gameStats {
  color: rgb(231, 122, 110);
  text-shadow: 0 0 5px white,
  0 0 5px white,
  0 0 5px white;
}

footer {
  background-color: #80D1EC;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #73E25F;
}

#memory #normal {
  background-color: #AFCAFF;
}

#memory #hard {
  background-color: rgb(231, 122, 110);
}

#memory .card-back {
  background-image: url('../images/games/memory/mountain-card-back.jpg');
}

/******** TYPELETTER ********/
#typeLetter #uppercase {
  background-color: #73E25F;
}

#typeLetter #lowercase {
  background-color: rgb(231, 122, 110);
}

.playerLetters {
  text-shadow: 0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F,
    0 0 12px #73E25F;
}

#playerLetter {
  -webkit-animation: animborder 2s infinite;
  animation: animborder 2s infinite;
}

@-webkit-keyframes animborder {
  50% {
    border-color: #73E25F;
  }
}

@keyframes animborder {
  50% {
    border-color: #73E25F;
  }
}