html,
body {
  background: url('../images/wallpaper/bg_mountain.jpg') no-repeat center fixed;
  background-size: cover;
}

section {
  border: 15px solid #80D1EC;
}

.title-category {
  color: #73E25F;
}

.form-btn {
  background-color: #73E25F;
}

.form-btn:hover {
  background-color: #80D1EC;
}

footer {
  background-color: #80D1EC;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #73E25F;
}

#memory #normal {
  background-color: #AFCAFF;
}

#memory #hard {
  background-color: rgb(231, 122, 110);
}

#memory-timer {
  background-color: #96C93C;
}

#memory .card-back {
  background: url('../images/games/memory/mountain-card-back.jpg') no-repeat center fixed;
  background-size: cover;
}