html,
body {
  background: url('../images/wallpaper/bg_space.jpg') no-repeat center fixed;
  background-size: cover;
}

section {
  border: 15px solid #547181;
}

.title-category {
  color: #D54500;
}

.form-btn {
  background-color: #D54500;
}

.form-btn:hover {
  background-color: #547181;
}

footer {
  background-color: #547181;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #C06B00;
}

#memory #normal {
  background-color: #1C5C66;
}

#memory #hard {
  background-color: #AA3500;
}

#memory-timer {
  background-color: #F0CAA6;
}

#memory .card-back {
  background: url('../images/games/memory/space-card-back.jpg') no-repeat center fixed;
  background-size: cover;
}