html,
body {
  background: url('../images/wallpaper/bg_space.jpg') no-repeat center fixed;
  background-size: cover;
}

section,
.game-container {
  border: 15px solid #547181;
}

.title-category {
  color: #D54500;
}

.form-btn {
  background-color: #D54500;
}

.form-btn:hover {
  background-color: #547181;
}

.game .game-timer {
  background-color: #F0CAA6;
}

.end-game-infos .replay {
  background-color: #F0CAA6;
}

footer {
  background-color: #547181;
}

/********** MEMORY **********/

#memory #easy {
  background-color: #FF7F00;
}

#memory #normal {
  background-color: #1C5C66;
}

#memory #hard {
  background-color: #AA3500;
}

#memory .card-back {
  background-image: url('../images/games/memory/space-card-back.jpg');
}

/******** TYPELETTER ********/
#typeLetter #uppercase {
  background-color: #FF7F00;
}

#typeLetter #lowercase {
  background-color: #AA3500;
}

.playerLetters {
  text-shadow: 0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00,
    0 0 12px #FF7F00;
}

#playerLetter {
  -webkit-animation: animborder 2s infinite;
  animation: animborder 2s infinite;
}

@-webkit-keyframes animborder {
  50% {
    border-color: #FF7F00;
  }
}

@keyframes animborder {
  50% {
    border-color: #FF7F00;
  }
}