@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Spirax|Chela+One');
/********************************LAYOUT*******************************/

html,
body {
  width: 100%;
  height: 100%;
  background: url('../images/wallpaper/bg_flower-and-rainbow.jpg') no-repeat center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.main-header {}

.full-header {}

#hidden-header {
  position: fixed;
  height: 6em;
  background-color: rgba(0, 0, 0, 0.32);
}

#hidden-header nav {
  display: none !important;
}

.hide {
  display: none !important;
}

.home-title {
  height: 2.5em;
}

.title-link {}

.title-mobile {}

.full-title {
  display: none;
}

#hamburger-menu {
  width: 3em;
}

.nav-title,
.hidden-nav-title {
  white-space: pre-wrap;
  font-family: 'Fredoka One', cursive;
  color: black;
}

.nav-title {
  font-size: 0.9em;
  /* color: white; */
}

.hidden-nav-title {
  display: none;
  font-size: 0.8em;
}

.home {
  text-shadow: 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E;
}

.paint {
  text-shadow: 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6;
}

.memory {
  text-shadow: 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8;
}

.letters {
  text-shadow: 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC;
}

.mystery {
  text-shadow: 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446;
}

.bubbles {
  text-shadow: 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C;
}

.connection,
.profile {
  text-shadow: 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C;
}

.inscription,
.disconnection {
  text-shadow: 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24;
}

.nav-title {
  color: rgba(255, 255, 255, 0.8);
}

.nav-icon {
  width: 3em;
}

.hidden-nav-icon {
  width: 2.5em;
}

section {
  min-height: 50em;
  font-family: 'Fredoka One', cursive;
  background-color: rgba(255, 255, 255, 0.52);
  border: 15px solid #459A45;
  border-radius: 2em;
}

.form-title {
  font-family: 'Chela One', cursive;
  font-size: 2em;
  font-variant: small-caps;
  color: #BACB3E;
  text-shadow: 0 0 5px white,
  0 0 5px white,
  0 0 5px white,
  0 0 5px white,
  0 0 5px white,
  0 0 5px white,
  0 0 5px white,
  0 0 5px white;
}

.title-category {
  font-family: 'Chela One', cursive;
  font-size: 1.5em;
  color: #F2E92C;
  text-shadow: 0 0 5px white,
  0 0 5px black,
  0 0 5px white;
}

.form-label,
.rememberMe {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.62), 0 0 5px rgba(0, 0, 0, 0.62), 0 0 5px rgba(0, 0, 0, 0.62);
}

.form-btn {
  background-color: #BACB3E;
  border-color: white;
}

.form-btn:hover {
  background-color: #459A45;
  border-color: white;
}

#reset-pswd {
  font-size: 0.9em;
}

.stats-game {
  width: 12em;
  height: 8em;
  border: 4px solid black;
}

footer {
  background-color: #459A45;
}

@media screen and (min-width: 768px) {
  h1 {
    height: 1.5em;
  }
  .title-mobile {
    display: none;
  }
  .full-title {
    display: flex;
  }
  .nav-title {
    font-size: 1em;
  }
  .hidden-nav-icon {
    width: 3em;
  }
  .hidden-nav-title {
    display: block;
  }
  #hidden-header nav {
    display: block !important;
  }

  .form-title,
  .form-title,
  .form-title {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  .full-title {
    width: 25em;
  }
  .nav-item:hover {
    animation: bounce 0.45s ease infinite alternate;
  }
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }
  .nav-link {}
  .nav-link:hover {}
  .nav-title {
    font-size: 0.8em;
  }
  .nav-icon {
    font-size: 1.2em;
  }
  .form-title,
  .form-title,
  .form-title {
    font-size: 3.8em;
  }
  .title-category {
    font-size: 2em;
  }
 
  .form-label {
    font-size: 1.2em;
  }
  .rememberMe {}
  .games-row {}
}

@media screen and (min-width: 1440px) {
  .nav-title,
  .hidden-nav-title {
    font-size: 1.2em;
  }
  .nav-icon {
    width: 3.5em;
  }
  .hidden-nav-icon {
    width: 3em;
  }
  .profile-form {}
}