@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Spirax|Chela+One');

/********************************LAYOUT*******************************/
html,
body {
  width: 100%;
  height: 100%;
  background: url('../images/wallpaper/bg_flower-and-rainbow.jpg') no-repeat center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.main-header {}

.full-header {}

.home-title {
  width: 100%;
  height: 6.5rem;
 
}

.title-link {}

.title-mobile {
  padding: 0;
}

.full-title {
  display: none;
}

#hamburger-menu {
  width: 3rem;
}

.nav-title {
  white-space: pre-wrap;
  font-family: 'Fredoka One', cursive;
  color: black;
}

.nav-title {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}


.home {
  text-shadow: 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E, 0 0 5px #CF9F3E;
}

.paint {
  text-shadow: 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6, 0 0 5px #8D44D6;
}

.memory {
  text-shadow: 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8, 0 0 5px #3A9DD8;
}

.letters {
  text-shadow: 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC, 0 0 5px #80D1EC;
}

.mystery {
  text-shadow: 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446, 0 0 5px #8CC446;
}

.bubbles {
  text-shadow: 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2DB00, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C, 0 0 5px #F2E92C;
}

.connection,
.profile {
  text-shadow: 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C, 0 0 5px #F7983C;
}

.inscription,
.disconnection {
  text-shadow: 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24, 0 0 5px #EE3B24;
}

.nav-icon {
  width: 3rem;
}

section {
  font-family: 'Fredoka One', cursive;
  background-color: rgba(255, 255, 255, 0.52);
  border: 15px solid #459A45;
  border-radius: 2em;
}

.form-title {
  font-size: 3.2rem;
  font-family: 'Chela One',
    cursive;
  font-variant: small-caps;
  color: #F7983C;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8);
}

.title-category {
  font-family: 'Chela One', cursive;
  font-variant: small-caps;
  font-size: 1.8rem;
  text-shadow: 0 0 5px white,
    0 0 5px black,
    0 0 5px white;
}

.form-label,
.rememberMe {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.62), 0 0 5px rgba(0, 0, 0, 0.62), 0 0 5px rgba(0, 0, 0, 0.62);
}

.avatar-container {

}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.avatar-container {
  width: 16rem;
}

.avatar {
  margin: 0.8rem 0.5rem 0 0.5rem;
}

.avatar img {
  position: relative;
  width: 3rem;
  height: 4rem;
}

#reset-pswd {
  font-size: 0.9rem;
}

.stats-game {
  width: 12rem;
  height: 8rem;
  border: 4px solid black;
}

.errors-hide {
  display: none;
  width: 40%;
  text-align: center;
}

.close {
  font-size: 2.2rem;
}

/********************************GENERAL GAMES********************/
.game-container {
  height: 45rem;
}

.game {
  height: 35rem;
}

.game-container .game-header {
  height: 13rem;
}

.game-container .game-title {
  font-family: 'Chela One', cursive;
  font-variant: small-caps;
  font-size: 4.2rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(0, 0, 0, 0.3),
    0 0 5px rgba(0, 0, 0, 0.3),
    0 0 5px rgba(0, 0, 0, 0.3);
}

.game-header .instructions {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.game .difficulty-container {
  width: 12rem;
  margin-top: 2.5rem;
}

.game .btn {
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.3),
    0 0 12px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-color: white;
  border-radius: 5px;
}

.game .btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 20px black;
  box-shadow: 1px 1px 20px black;
}

.game .game-infos {
  height: 7rem;
  width: 100%;
}

.game-infos .resultMessage {
  height: 2rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.game-infos .score-container {
  width: 4rem;
}

.score-container .score {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
}

.score-container .star {
  padding-top: 0.4rem;
  font-size: 1.5rem;
  color: #F2DB00;
  text-shadow: 2px 2px 8px #fbb144,
    2px 2px 8px rgba(0, 0, 0, 0.7);
}

.game .end-game-infos {
  height: 75%;
}

.end-game-infos .messageEndGame {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}

.messageEndGame .bravo {
  font-size: 2.5rem;
  text-shadow: 2px 2px 8px white,
    2px 2px 8px white,
    2px 2px 8px white,
    2px 2px 8px white,
    2px 2px 8px rgba(0, 0, 0, 0.7);
}


/************************************ STYLE THEME PAR DEFAUT **************************************/

.game-container {
  border: 15px solid #459A45;
}

.title-category {
  color: #F2E92C;
}

.form-btn {
  background-color: #BACB3E;
  border-color: white;
}

.form-btn:hover {
  background-color: #459A45;
  border-color: white;
}

.game .game-timer {
  height: 2.5rem;
  background-color: #8dc546;
  border-radius: 5px;
}

.end-game-infos .replay {
  padding: 1.5rem;
  background-color: #BACB3E;
}

.avatar img {
  border: 3px solid #BACB3E;
}

footer {
  background-color: #459A45;
}

/********** MEMORY **********/
#memory #easy {
  background-color: #80D1EC;
}

#memory #normal {
  background-color: #BACB3E;
}

#memory #hard {
  background-color: #F2E92C;
}

#memory .card-back {
  background-image: url('../images/games/memory/rainbow-card-back.jpg');
  background-size: contain;
}

#memory .card-back:hover {
  background-color: gray;
}

/******** TYPELETTER ********/
#typeLetter #uppercase {
  background-color: #BACB3E;
}

#typeLetter #lowercase {
  background-color: #F2E92C;
}

.playerLetters {
  text-shadow: 0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648,
    0 0 12px #8EC648;
}

#playerLetter {
  -webkit-animation: animborder 2s infinite;
  animation: animborder 2s infinite;
}

@-webkit-keyframes animborder {
  50% {
    border-color: #BACB3E;
  }
}

@keyframes animborder {
  50% {
    border-color: #BACB3E;
  }
}

/*****************************************  MEDIA-QUERIES *****************************************/
@media screen and (min-width: 768px) {

  html,
  body {
    font-size: 18px;
  }

  .title-mobile {
    display: none;
  }

  .full-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .avatar-container {
    width: 22rem;
  }

  .avatar {
    margin: 0.8rem 0.5rem 0 0.5rem;
  }

  .avatar img {
    position: relative;
    width: 4.5rem;
    height: 6rem;
  }

  .form-title {
    /* font-size: 2.5rem; */
  }

  /*******************************GAMES*******************************/
  .game-header {}

  .game-title {
    /* margin: 4rem 0; */
  }

  .game-header .instructions {}

  .game .difficulty-container {
    width: 14rem;
  }

  .game .btn {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {

  html,
  body {
    font-size: 21px;
  }

  .home-title {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  .full-title {
    /* width: 25rem; */
  }

  .nav-item:hover {
    -webkit-animation: bounce 0.45s ease infinite alternate;
    animation: bounce 0.45s ease infinite alternate;
  }

  @-webkit-keyframes bounce {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    to {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }

  @keyframes bounce {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    to {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }

  .game {
    width: 100%;
  }

  .game .difficulty-container {
    width: 90%;
  }

  .game .btn {
    width: 13rem;
  }

  .game .btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 1px 1px 20px black;
    box-shadow: 1px 1px 20px black;
  }

  .game .game-infos {
    height: 10rem;
  }

  /* .end-game-infos .replay {
    padding: 1.7rem 0;
  } */
}

@media screen and (min-width: 1440px) {

  html,
  body {
    font-size: 23px;
  }

  .nav-title,
  .hidden-nav-title {
    font-size: 1.2em;
  }

  .nav-icon {
    width: 3.5em;
  }

  .hidden-nav-icon {
    width: 3em;
  }

  .profile-form {}

  /* 
  .game .game-board {
    width: 65%;
  } */

  .game .btn {
    padding: 2.2rem 0rem;
  }

}